/* ---------------------------
fonts 
------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/*--------------------------------
 utilities
 ---------------------------------- */

body{
    font-family:'Poppins', sans-serif ;
    background-color: #faf2f2;
}

/* ----------------------------
heading styles 
------------------------------*/
.influencer-products{
    color: #3A3A3A;
    margin-top: 87px ;
    margin-left: 120px;
}
.header-container{
    display: flex;
    
    
}
.header-heading{
   margin-left: 120px;
   padding-right: 40%  ;

}
.header-image{
   width: 50vw ;
    
    
}
h1{
    font-size: 3em ;
}
.button{
    font-family:'Poppins', sans-serif ;
    color: white;
    background-color: #E02C6D;
    padding: 10px 24px ;
    border-radius: 41px;
}

/*---------------------------------------
 popular collection styles 
 ----------------------------------------*/
 .collection-container{
    margin-left: 120px ;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 2px;
    }
 .collection-heading{
    display: flex;
    margin-top: 350px ;
    margin-left: 587px;
    margin-right: 591px ;
}
.collection{
    margin-left: 20px ;
}
.product{
    display: grid;
    border: 1px solid whitesmoke;
    background-color: white;
    margin: 20px ;
    padding: 20px ;
    justify-content: center;
    
}
.fa-star{
    color: gold;
    
}
.see-more{
    color: #E02C6DDE;
    
    
}
.question-part{
    width: 100vw;
    height: 500px;
    background-color:lightcyan ;

}
.question-head{
    color: rgb(41, 44, 46);
    display: flex;
    justify-content: center;
}
.question-body{
    color: rgb(41, 44, 46);
   margin-left: 820px ;
    
}




















































.footer{
    background-color: rgb(2, 2, 43);
    width: 100vw ;
    height: 300px ;
    
   
}
.footer-info{
    color: honeydew;
    margin: 40px 0 40px 800px;
}
.copyright{
    color: honeydew;
    margin: 40px 0 40px 100px;
}
.all-rights{
    color: honeydew;
    margin: 10px 0 40px 160px;
}
.social-icons{
    color: ivory;
    font-size: 30px;
    
    margin-left: 1000px ;
}
.fa-facebook{
    margin-right: 13px;
}
.fa-youtube{
    margin-right: 13px;
}