/* ---------------------------
fonts 
------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/*--------------------------------
 utilities
 ---------------------------------- */

body{
    font-family:'Poppins', sans-serif ;
    background-color: #faf2f2;
}

/* ----------------------------
heading styles 
------------------------------*/
.influencer-products{
    color: #3A3A3A;
    margin-top: 87px ;
    margin-left: 120px;
}
.header-container{
    display: flex;
    
    
}
.header-heading{
   margin-left: 120px;
   padding-right: 40%  ;

}
.header-image{
   width: 50vw ;
    
    
}
h1{
    font-size: 3em ;
}
.button{
    font-family:'Poppins', sans-serif ;
    color: white;
    background-color: #E02C6D;
    padding: 10px 24px ;
    border-radius: 41px;
    
}
.button:hover{
    width: 400px ;
}

/*---------------------------------------
 popular collection styles 
 ----------------------------------------*/
 .collection-container{
    margin-left: 120px ;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 2px;
    
}
 .collection-heading{
    display: flex;
    margin-top: 350px ;
    margin-left: 587px;
    margin-right: 591px ;
}
.collection{
    margin-left: 20px ;
}
.product{
    display: grid;
    border: 1px solid whitesmoke;
    background-color: white;
    margin: 20px ;
    padding: 20px ;
    justify-content: center;
    
}
.fa-star{
    color: gold;
    
}
.see-more{
    
   text-align: right;
    
    
}
.see-more-dec{
    color: #E02C6DDE;
    text-decoration: none;
}
.question-part{
    width: 100vw;
    height: 500px;
    background-color:lightcyan ;

}
.question-head{
    color: rgb(41, 44, 46);
    display: flex;
   justify-content: space-evenly;
}
.question-body{
    color: rgb(41, 44, 46);
    margin-left: 820px ;
   display: flex;
   flex-direction: column;
   
    
}

/*-----------------------------------------------------------------
                              Media Quaries 
 -------------------------------------------------------------------*/


 /*---------------------------
  Mobile devices 
  -------------------------*/

@media only screen and (max-width:688px) {
    .influencer-products{
        grid-template-columns: repeat(1, 1fr);
    }
    
    .collection-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .question-container{
        width: 100%;
    }
}



/*----------------------
 Tablet device 
 ---------------------*/


 @media only screen and (min-width:688px) and (max-width:992px ) {
    .infproductsluencer-{
        grid-template-columns: repeat(2, 1fr);
 }





















































